.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
}

.navbar-brand, .navbar-center, .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove underline */
}

/* Styling for cart count */
.cart-count {
  font-family: 'EB Garamond', serif; 
  color: black; 
  margin-left: 5px; 
}

.nav-item {
  order: -1; 
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  order: 0; 
}

.navbar-brand {
  margin-left: auto;
  text-align: right;
}

.nav-item:hover, .navbar-brand:hover {
  background-color: #FAE4E1; 
  transition: background-color 0.3s ease-in-out;
}

.nav-icon {
  height: 25px;
  vertical-align: middle; 
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
}

