/* Pagination controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
}

.pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Categories dropdown */
.categories-dropdown {
  position: relative;
  display: inline-block;
}

.categories-dropdown .categories-toggle {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f8f8f8;
  font-family: 'Playfair Display', serif; 
}

.categories-dropdown .categories-toggle:hover {
  background-color: #e9e9e9;
}

.categories-dropdown .categories-menu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0; 
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Playfair Display', serif;
}

.categories-dropdown .categories-item {
  padding: 12px 16px;
  cursor: pointer;
}

.categories-dropdown .categories-item:hover {
  background-color: #f1f1f1;
}

.categories-dropdown:hover .categories-menu {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
}

.card-img-container {
  width: 100%; 
  padding-top: 56.25%; 
  position: relative;
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.card-body .btn.btn-primary {
  font-family: 'EB Garamond', serif; 
  background-color: black; 
  color: white; 
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.card-body .btn.btn-primary:hover {
  background-color: #333; 
}
